@media screen and (max-width: 415px){
	.game-name{
		font-size: 20px;
	}
	.grid-size { font-size: 20px; }

	form > p { font-size: 12px }

	.grind-input:last-of-type {
		margin-right: 5px;
	}

	.grid { font-size: 9px; }

	input[type=number] { width: 2em; }

	.gridbtn { font-size: 10px; }

	h2 { margin: 0.28em; }

	.pick-color{font-size: 15px;}

	.color-input {
		width: 40px;
		height: 24px;
	}
	.design-canvas { font-size: 14px; }
}

@media screen and (min-width: 550px){
	form > p { font-size: 18px; }

	.game-name { font-size: 38px; }
}
@media screen and (min-width: 1000px){
	.game-name {
    font-size: 60px;
	}
	h2 {
    margin: 0.6em 0 0.6em;
	}
}